.textfields{
    margin-left: 25px;
    background-color: #edf50f26;
    border: 2px dotted #384e08;
    border-radius: 8px;
    font-family: 'Mali', cursive;
}


@import url('https://fonts.googleapis.com/css?family=Mali');