@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Poppins');
/*Global styles*/
body{
	font-family: 'Mali', cursive;
	display:flex;
}
.bodyStyle{   
	width: 1700px;
	margin-left: 64px;
}
/*End of global styles*/



/*header styles*/
.paper{
    border-radius: 8px;
	background-color: #e6f50f1c !important;
	justify-content: center;
}
.menu{
		justify-content: space-around !important;
		display: flex !important;
		background-color: #e6f50f1c !important;
}
.nav-item{
    text-transform: uppercase !important;
    margin: 9px 10px !important;
    border: 1.5px dotted #491bb3c7 !important;
    border-radius: 15px !important;
    padding: 9px !important;
	font-family: 'Mali', cursive !important;
}
.menuItem{    
    text-decoration: none;
	color: #384e08 !important;
}
/*end of header styles*/

/*Login styles*/

.dflexForm{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.namelogin {
	margin: 16px 54px 16px 2px !important;
}
.textfields{
	background-color: #edf50f26;
	border: 2px dotted #384e08;
	border-radius: 8px;
	justify-content: space-between;
	flex-wrap: wrap;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
.fieldPassw{
	margin-bottom: 16px !important;
}
.buttonSubmit{
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
	background-color: #edf50f26 !important;
	margin: 17px 0 16px 61px !important;
	position: absolute;
}

/*end of login styles*/


/*registration styles*/
.MuiFormControl-marginNormal-33 {
	margin: 15px 69px 17px 23px !important;
}
/*end of registration styles*/



/*footer styles*/
.foot{
color: #491bb3c7;
}

/*end of footer styles*/

/*home page styles*/
.listCateg{
	margin: 2px 15px !important;
    border-radius: 7px;
}
.categoryStyle{
	padding: 2px 14px !important;
	text-transform: uppercase;
}
.labelCat span{
	font-family: 'Mali', cursive !important;
}
.styleCatList{
	min-width: 150px;
	background-color: #1d0ff51c  !important;
}
.postlist p{
	font-family: 'Mali', cursive !important;
}
.postlist h5{
	font-family: 'Poppins', sans-serif !important;
	color: #384e08;
}
.postlist{
	margin: 0px 0;
}
.lilistofPost {
	margin: 4px 0px !important;
}
/*end of home page styles*/

/*Propfile styles*/
.topProfile{
	display:flex;
}
.profileLogin{
	justify-content: center;
}
.profileLogin span{
	font-size: 47px;
	font-family: 'Mali', cursive !important;
	text-transform: uppercase; 
	color: #491bb3;
	text-align: center;
}
.selectCat{
	border-radius: 15px;
	margin-left: 10px;
}
.titleSelect{
    background-color: #edf50f26;
    padding: 10px;
    margin-left: 10px;
	border-radius: 10px;
	margin-top: 13px;
}
.newposttitle{
	padding-left: 15px;
}
.titleNewPost{
	height: 36px;
	margin-top: 18px !important;
	font-family: 'Mali', cursive !important;
}
.titleNewPost input{
	font-family: 'Mali', cursive !important;
}
.descrOfNewPost input{
	font-family: 'Mali', cursive !important;
}
.descrOfNewPost{
	margin-top: 13px !important;
}
.buttonCreatePost{
	margin-left: 100px !important;
}
/*End of profile styles*/